@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600')
html,
button,
input,
select,
textarea 
  color #222
body 
  font-size 1em
  font-family 'Source Sans Pro', sans-serif
  min-height 800px
  height auto
  position relative
  background url('../../img/graph_bg.jpg') no-repeat center center
  background-size cover
  text-shadow none
::selection 
  background #b3d4fc
  text-shadow none
hr 
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0
img 
  vertical-align middle
  max-width 100% !important
fieldset 
  border 0
  margin 0
  padding 0
textarea 
  resize vertical
.chromeframe 
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

// newsletter signup
.newsletter
  margin 55px auto 50px auto
.news-header
  font-weight bold
  font-size 20px
  margin-bottom 10px
.newsletter-signup 
  background-color #b3d4fc
  background-color rgba(179, 212, 252, 0.3)
  border 1px solid #bfc8d4
  border-radius 4px
  margin: 0 auto
  padding 20px
  position relative
  width 500px
#news-email
  display inline-block
  text-align left
  width 280px
  vertical-align top
#email-input, #news-submit
  box-sizing border-box
  height 40px
#email-input
  border 0
  padding-left 10px
  width 270px
#news-submit
  color #fff
  background #cc5200
  border 0
  display inline-block
  padding 10px
  vertical-align top
.sending
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0, 0, 0, 0.5)
  border-radius 4px
.error
  color #cc5200
  margin-top 10px
.success
  color #cc5200

a 
  color #87939c
  text-decoration none
  &:hover 
    text-decoration underline
  &:visited 
    color #667d8d
p 
  line-height 2.5em
.container 
  position absolute
  top 50%
  left 50%
  width 600px
  height 300px
  margin-top -150px
  margin-left -300px
  text-align center
  img 
    width 300px
    height auto
    margin-bottom 20px