<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>PeerLibrary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="fWBHhQTVXMhTYQ3RWdeBIwxn7xEduLf17hQ2unqIA-I">
</head>

<body>
  <div class="container">
    <img class="logo" src="img/logo.png">
    {{> newsletter}}
	<div class="clearfix">
      <a href="http://blog.peerlibrary.org" title="Blog">Blog</a>
      <br>
      <a href="http://github.com/peerlibrary" title="GitHub">GitHub</a>
      <br>
      <a href="http://twitter.com/peerlibrary" title="Twitter">@PeerLibrary</a>
      <br>
      <a href="mailto:hello@peerlibrary.org" title="Contact Us">hello@peerlibrary.org</a>
  </div>
</body>

<template name="newsletter">
  <div class="newsletter">
    <header class="news-header">
      Receive updates on PeerLibrary’s progress
    </header>
    <div class="newsletter-signup">
      {{#if notSuccess}}
        <form class="news">
          <div id="news-email">
            <input type="text" id="email-input" size="25" name="email" placeholder="Your email address">
            {{#if errorMessage }}
              <div class="message error">{{errorMessage}}</div>
            {{/if}}
          </div> 
          <input id="news-submit" type="submit" value="Notify Me">
        </form>
      {{/if}}
      {{#if successMessage}}
        <div class="message success">
          {{successMessage}}
        </div>
      {{/if}}
      {{#if sending}}
        <div class="sending"></div>
      {{/if}}
    </div>
  </div>
</template>
