<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>PeerLibrary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="fWBHhQTVXMhTYQ3RWdeBIwxn7xEduLf17hQ2unqIA-I">
</head>

<body>
	<div class="container">
	  <img class="logo" src="img/logo.png">
    {{> newsletter}}
		<div class="clearfix">
		  <a href="http://github.com/peerlibrary" title="GitHub">GitHub</a>
      <br>
      <a href="http://twitter.com/peerlibrary" title="Twitter">@PeerLibrary</a>
      <br>
      <a href="mailto:hello@peerlibrary.org" title="Contact Us">hello@peerlibrary.org</a>
  </div>
</body>

<template name="newsletter">

  <div class="newsletter-signup">
    {{#if notSuccess}}
      <form class="news">
        <input type="hidden" value="news" name="list">
        <input type="hidden" value="subrequest" name="action">
        <input type="hidden" value="subscribe" name="action_subrequest">
        <label for="news-email" class="tS">Sign up for early access</label>
        <br><br>
        <input type="text" id="news-email" size="25" name="email" placeholder="Your email address"> <input id="news-submit" type="submit" value="Subscribe">
      </form>
    {{/if}}

    {{#if message }}
      <span class="message {{messageClass}}">{{message}}</span>
    {{/if}}
  </div>
</template>
